@import './mixins/constants.scss';

.floatingButton {
	margin-bottom: 10px;
    margin-right: 10px;
}

.floatingButton a {
	background-color: #00c853;
	text-align: center;
}

.floatingButton a:hover {
	background-color: #00e676;
}