@import 'constants.scss';
@import 'centerer.scss';

.nav-active {
	background-color: #00c853 !important;
}

.bold {
	font-weight: bold;
}

.side-nav a, .side-nav.fixed a {
	background-color: $bg-color-navigation;
	color: $font-color-white !important;
}

.side-nav a:hover {
	background-color: $font-color-green !important; 
}

.nav-icon {
	vertical-align: middle;
	margin-right: 5px;
}